mismworkbench/src/main/resources/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) -->
<xsd:schema xmlns="http://www.mismo.org/residential/2009/schemas" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:mismo="http://mismo.org/residential/2009/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mismo.org/residential/2009/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Generated by Contivo Builder on June 1, 2010 at 11:15:56 PM CDT</xsd:documentation>
		<xsd:documentation>from the MISMO_3_0 package with namespace http://www.mismo.org/residential/2009/schemas</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xsd:element name="DEAL" type="DEAL"/>
	<xsd:element name="DOCUMENT" type="DOCUMENT"/>
	<xsd:element name="MESSAGE" type="MESSAGE"/>
	<xsd:complexType name="ABOUT_VERSION">
		<xsd:sequence>
			<xsd:element name="AboutVersionIdentifier" type="MISMOIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A unique value that represents a user defined version identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreatedDatetime" type="MISMODatetime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The date and time at which the message, deal or document was created.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataVersionIdentifier" type="MISMOIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the data file version.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataVersionName" type="MISMOString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifies the type of data file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EXTENSION" type="EXTENSION" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="xlink:resourceLink"/>
		<xsd:attribute name="SequenceNumber" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>An integer value used to provide an order to multi-instance sibling elements.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ABOUT_VERSIONS">
		<xsd:sequence>
			<xsd:element name="ABOUT_VERSION" type="ABOUT_VERSION" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EXTENSION" type="EXTENSION" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="xlink:resourceLink"/>
	</xsd:complexType>



</xsd:schema>
